# `datascience` Library Demo Notebook

_Notebook created by Chris Pyles_

This notebook is intended to give you some basic information on manipulating rectangular data using the `datascience` library. The `datascience` library is a module for Python developed at UC Berkeley and which is used in the course Data 8: Foundations of Data Science. This notebook covers basic table operations using this library.

<!--

**Table of Contents**
1. [Dependences](#Dependencies)
2. [Loading Data](#Loading-Data)
3. [Moving Between `pandas` and `datascience`](#Moving-Between-pandas-and-datascience)
4. [Rows and Columns](#Rows-and-Columns)
5. [Accessing Vaues](#Accessing-Values)
6. [Missing Values](#Missing-Values)
7. [Descriptive Statistics](#Descriptive-Statistics)
8. [Grouping](#Grouping)
9. [Manipulating Values](#Manipulating-Values)
10. [Exporting Figures](#Exporting-Figures)
11. [Exporting Data](#Exporting-Data)
12. [Conclusion](#Conclusion)

-->

### Dependencies

In the cell below we load the dependencies for this notebook.

In [1]:
from datascience import *
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
from IPython.display import display

### Loading Data

The method that `datascience` provides for reading in data defaults to reading CSV files. The function, `Table.read_table()`, takes as its argument a relative path to the data file. In the cell below, we load the datasets we will be using for this demo.

In [2]:
trips = Table.read_table('data/trips.csv')
stations = Table.read_table('data/stations.csv')
trips.show(5)
stations.show(5)

We use the `Table.show()` method above to display the first 5 lines of each table. This method defaults to all rows, so calling `trips.show()` would have displayed all 354,152 rows of that table.

If you have files that use other delimeters, you can pass the `sep` argument of `pd.read_csv()` to `Table.read_table()` and the file will be read in correctly.

In [3]:
Table.read_table("data/trips.tsv", sep="\t").show(5)

If you have data formatted in ways other than delimited files, these need to be loaded into `pandas` first before being transferred to `datascience`. An example call is given below.

```python
# load data into pandas
trips_df = pd.read_json("data/trips.json")

# transfer to datascience
trips_tbl = Table.from_df(trips_df)
```

### Moving Between `pandas` and `datascience`

As noted above, it is possible to transfer your data between `pandas` and `datascience`. The functions to do this are provided in the `datascience` library; `Table.from_df()` takes a DataFrame and returns a Table and `Table.to_df()` turns the Table into a DataFrame.

```python
# pandas to datascience
tbl = Table.from_df(df)

# datascience to pandas
df = tbl.to_df()
```

### Rows and Columns 

To get row and column counts, the `datascience` library provides the `num_rows` and `num_columns` attributes, which are self-explanatory.

In [4]:
trips.num_rows, trips.num_columns

(10000, 11)

To access the labels of the columns, `datascience` has `labels`, which is a tuple containing the column labels in numerical index order.

In [5]:
trips.labels

('Trip ID',
 'Duration',
 'Start Date',
 'Start Station',
 'Start Terminal',
 'End Date',
 'End Station',
 'End Terminal',
 'Bike #',
 'Subscriber Type',
 'Zip Code')

To add columns to a table, you pass a single label and set of values to `.with_column()` or a list of labels and pairs to `.with_columns()` (both shown below). **These functions do not edit the original table, so these modifications can only be saved by assigning them to the name of the table or a new variable name.**

In [6]:
# adding a single column
some_random_numbers = np.random.uniform(0, 10, trips.num_rows)
trips.with_column("Random Numbers", some_random_numbers)

Trip ID | Duration | Start Date       | Start Station                     | Start Terminal | End Date         | End Station                              | End Terminal | Bike # | Subscriber Type | Zip Code | Random Numbers
608033  | 280      | 1/16/2015 20:22  | Embarcadero at Bryant             | 54             | 1/16/2015 20:27  | Steuart at Market                        | 74           | 362    | Subscriber      | 94705    | 0.0526983
661342  | 598      | 2/27/2015 15:58  | South Van Ness at Market          | 66             | 2/27/2015 16:08  | San Francisco Caltrain (Townsend at 4th) | 70           | 416    | Subscriber      | 95119    | 7.54488
571988  | 639      | 12/9/2014 17:12  | Market at Sansome                 | 77             | 12/9/2014 17:23  | San Francisco Caltrain (Townsend at 4th) | 70           | 484    | Subscriber      | 94010    | 2.69752
875617  | 725      | 8/4/2015 17:34   | South Van Ness at Market          | 66             | 8/4/2015 17:46   | Beale at Market                          | 56           | 569    | Subscriber      | 9611     | 7.87205
587393  | 759      | 12/29/2014 16:10 | Townsend at 7th                   | 65             | 12/29/2014 16:23 | Embarcadero at Bryant                    | 54           | 629    | Subscriber      | 94105    | 4.07006
721469  | 1774     | 4/11/2015 14:07  | Arena Green / SAP Center          | 14             | 4/11/2015 14:37  | Santa Clara County Civic Center          | 80           | 95     | Customer        | 95112    | 4.50254
467223  | 259      | 9/24/2014 8:36   | San Antonio Caltrain Station      | 29             | 9/24/2014 8:40   | San Antonio Shopping Center              | 31           | 183    | Subscriber      | 94133    | 3.28847
898461  | 413      | 8/20/2015 13:34  | Market at 4th                     | 76             | 8/20/2015 13:41  | Post at Kearny                           | 47           | 313    | Customer        | 14222    | 1.92876
552253  | 442      | 11/20/2014 10:50 | 2nd at Folsom                     | 62             | 11/20/2014 10:57 | San Francisco Caltrain 2 (330 Townsend)  | 69           | 353    | Subscriber      | 94107    | 3.37995
667949  | 568      | 3/4/2015 17:31   | San Jose Diridon Caltrain Station | 2              | 3/4/2015 17:40   | Paseo de San Antonio                     | 7            | 691    | Subscriber      | 95112    | 8.31582
... (9990 rows omitted)

In [7]:
# adding multiple columns
some_more_random_numbers = np.random.normal(0, 10, trips.num_rows)
trips.with_columns(
    "Random Numbers", some_random_numbers,
    "More Random Numbers", some_more_random_numbers
)

Trip ID | Duration | Start Date       | Start Station                     | Start Terminal | End Date         | End Station                              | End Terminal | Bike # | Subscriber Type | Zip Code | Random Numbers | More Random Numbers
608033  | 280      | 1/16/2015 20:22  | Embarcadero at Bryant             | 54             | 1/16/2015 20:27  | Steuart at Market                        | 74           | 362    | Subscriber      | 94705    | 0.0526983      | 5.06583
661342  | 598      | 2/27/2015 15:58  | South Van Ness at Market          | 66             | 2/27/2015 16:08  | San Francisco Caltrain (Townsend at 4th) | 70           | 416    | Subscriber      | 95119    | 7.54488        | -9.81017
571988  | 639      | 12/9/2014 17:12  | Market at Sansome                 | 77             | 12/9/2014 17:23  | San Francisco Caltrain (Townsend at 4th) | 70           | 484    | Subscriber      | 94010    | 2.69752        | -14.1466
875617  | 725      | 8/4/2015 17:34   | South Van Ness at Market          | 66             | 8/4/2015 17:46   | Beale at Market                          | 56           | 569    | Subscriber      | 9611     | 7.87205        | 0.919075
587393  | 759      | 12/29/2014 16:10 | Townsend at 7th                   | 65             | 12/29/2014 16:23 | Embarcadero at Bryant                    | 54           | 629    | Subscriber      | 94105    | 4.07006        | -2.38425
721469  | 1774     | 4/11/2015 14:07  | Arena Green / SAP Center          | 14             | 4/11/2015 14:37  | Santa Clara County Civic Center          | 80           | 95     | Customer        | 95112    | 4.50254        | 13.7681
467223  | 259      | 9/24/2014 8:36   | San Antonio Caltrain Station      | 29             | 9/24/2014 8:40   | San Antonio Shopping Center              | 31           | 183    | Subscriber      | 94133    | 3.28847        | 4.19801
898461  | 413      | 8/20/2015 13:34  | Market at 4th                     | 76             | 8/20/2015 13:41  | Post at Kearny                           | 47           | 313    | Customer        | 14222    | 1.92876        | -2.07579
552253  | 442      | 11/20/2014 10:50 | 2nd at Folsom                     | 62             | 11/20/2014 10:57 | San Francisco Caltrain 2 (330 Townsend)  | 69           | 353    | Subscriber      | 94107    | 3.37995        | 3.36711
667949  | 568      | 3/4/2015 17:31   | San Jose Diridon Caltrain Station | 2              | 3/4/2015 17:40   | Paseo de San Antonio                     | 7            | 691    | Subscriber      | 95112    | 8.31582        | -21.2531
... (9990 rows omitted)

Note that in the `.with_columns()` call, the column labels and values alternate; that is, the call should have the form

```python
tbl.with_columns(
    "Label 1", values_1,
    "Label 2", values_2,
    "Label 3", values_3,
    ...
)
```

It is also important that the values argument(s) have the same number of rows as the table they are being added to. A single value entered as this argument will be broadcast to the entire table, but any length besides 1 or the number of rows in the table will throw an error.

It is also possible to change the labels of columns using the `.relabeled()` method.

In [8]:
trips.relabeled("Duration", "Time")

Trip ID | Time | Start Date       | Start Station                     | Start Terminal | End Date         | End Station                              | End Terminal | Bike # | Subscriber Type | Zip Code
608033  | 280  | 1/16/2015 20:22  | Embarcadero at Bryant             | 54             | 1/16/2015 20:27  | Steuart at Market                        | 74           | 362    | Subscriber      | 94705
661342  | 598  | 2/27/2015 15:58  | South Van Ness at Market          | 66             | 2/27/2015 16:08  | San Francisco Caltrain (Townsend at 4th) | 70           | 416    | Subscriber      | 95119
571988  | 639  | 12/9/2014 17:12  | Market at Sansome                 | 77             | 12/9/2014 17:23  | San Francisco Caltrain (Townsend at 4th) | 70           | 484    | Subscriber      | 94010
875617  | 725  | 8/4/2015 17:34   | South Van Ness at Market          | 66             | 8/4/2015 17:46   | Beale at Market                          | 56           | 569    | Subscriber      | 9611
587393  | 759  | 12/29/2014 16:10 | Townsend at 7th                   | 65             | 12/29/2014 16:23 | Embarcadero at Bryant                    | 54           | 629    | Subscriber      | 94105
721469  | 1774 | 4/11/2015 14:07  | Arena Green / SAP Center          | 14             | 4/11/2015 14:37  | Santa Clara County Civic Center          | 80           | 95     | Customer        | 95112
467223  | 259  | 9/24/2014 8:36   | San Antonio Caltrain Station      | 29             | 9/24/2014 8:40   | San Antonio Shopping Center              | 31           | 183    | Subscriber      | 94133
898461  | 413  | 8/20/2015 13:34  | Market at 4th                     | 76             | 8/20/2015 13:41  | Post at Kearny                           | 47           | 313    | Customer        | 14222
552253  | 442  | 11/20/2014 10:50 | 2nd at Folsom                     | 62             | 11/20/2014 10:57 | San Francisco Caltrain 2 (330 Townsend)  | 69           | 353    | Subscriber      | 94107
667949  | 568  | 3/4/2015 17:31   | San Jose Diridon Caltrain Station | 2              | 3/4/2015 17:40   | Paseo de San Antonio                     | 7            | 691    | Subscriber      | 95112
... (9990 rows omitted)

### Accessing Values

For all non-continuous variables, it is usually important to understand the possible values of the variable; that is, to know the variable's _unique_ values. While `datascience` does not have a built-in method, it is a simple thing to export a column as an array and pass it to `np.unique`.

In [9]:
np.unique(trips.column('Start Date'))

array(['1/1/2015 0:56', '1/1/2015 10:01', '1/1/2015 11:56', ...,
       '9/9/2014 9:30', '9/9/2014 9:33', '9/9/2014 9:46'], dtype='<U16')

The `datascience` library provides the `.where()` method to filter rows, which uses a column name and a predicate function.

In [10]:
trips.where("Duration", lambda x: x < 100)

Trip ID | Duration | Start Date       | Start Station                                 | Start Terminal | End Date         | End Station                                   | End Terminal | Bike # | Subscriber Type | Zip Code
517635  | 96       | 10/27/2014 17:47 | Beale at Market                               | 56             | 10/27/2014 17:48 | Harry Bridges Plaza (Ferry Building)          | 50           | 481    | Subscriber      | 94107
689331  | 95       | 3/19/2015 13:56  | Market at 4th                                 | 76             | 3/19/2015 13:58  | Post at Kearny                                | 47           | 469    | Subscriber      | 94904
599279  | 75       | 1/11/2015 13:41  | Broadway St at Battery St                     | 82             | 1/11/2015 13:42  | Broadway St at Battery St                     | 82           | 536    | Customer        | 47906
867039  | 96       | 7/29/2015 10:11  | Howard at 2nd                                 | 63             | 7/29/2015 10:13  | Yerba Buena Center of the Arts (3rd @ Howard) | 68           | 613    | Subscriber      | 94804
788449  | 61       | 6/1/2015 11:03   | 2nd at Folsom                                 | 62             | 6/1/2015 11:04   | 2nd at Folsom                                 | 62           | 524    | Subscriber      | 94553
614924  | 90       | 1/22/2015 17:28  | Townsend at 7th                               | 65             | 1/22/2015 17:29  | Townsend at 7th                               | 65           | 468    | Subscriber      | 94107
596672  | 69       | 1/8/2015 17:33   | Beale at Market                               | 56             | 1/8/2015 17:34   | Temporary Transbay Terminal (Howard at Beale) | 55           | 329    | Subscriber      | 94602
810794  | 93       | 6/17/2015 11:41  | Market at Sansome                             | 77             | 6/17/2015 11:43  | 2nd at South Park                             | 64           | 469    | Subscriber      | 94544
849893  | 96       | 7/16/2015 17:12  | Yerba Buena Center of the Arts (3rd @ Howard) | 68             | 7/16/2015 17:14  | 2nd at South Park                             | 64           | 563    | Subscriber      | 94127
586772  | 67       | 12/28/2014 17:54 | Market at 10th                                | 67             | 12/28/2014 17:55 | Market at 10th                                | 67           | 424    | Customer        | 45227
... (23 rows omitted)

The library also provides the `are` class to create predicate functions. Each method of this class returns a boolean function that can be called on a value. For example, if we wanted a function that checked whether or not a value is greater than or equal to 1000, we could use the call below:

In [11]:
are.above_or_equal_to(1000)

You can pass these `are` objects to the `.where()` method to use as predicate functions. This is how students in Data 8 are taught to filter rows.

In [12]:
trips.where("Duration", are.below(100))

Trip ID | Duration | Start Date       | Start Station                                 | Start Terminal | End Date         | End Station                                   | End Terminal | Bike # | Subscriber Type | Zip Code
517635  | 96       | 10/27/2014 17:47 | Beale at Market                               | 56             | 10/27/2014 17:48 | Harry Bridges Plaza (Ferry Building)          | 50           | 481    | Subscriber      | 94107
689331  | 95       | 3/19/2015 13:56  | Market at 4th                                 | 76             | 3/19/2015 13:58  | Post at Kearny                                | 47           | 469    | Subscriber      | 94904
599279  | 75       | 1/11/2015 13:41  | Broadway St at Battery St                     | 82             | 1/11/2015 13:42  | Broadway St at Battery St                     | 82           | 536    | Customer        | 47906
867039  | 96       | 7/29/2015 10:11  | Howard at 2nd                                 | 63             | 7/29/2015 10:13  | Yerba Buena Center of the Arts (3rd @ Howard) | 68           | 613    | Subscriber      | 94804
788449  | 61       | 6/1/2015 11:03   | 2nd at Folsom                                 | 62             | 6/1/2015 11:04   | 2nd at Folsom                                 | 62           | 524    | Subscriber      | 94553
614924  | 90       | 1/22/2015 17:28  | Townsend at 7th                               | 65             | 1/22/2015 17:29  | Townsend at 7th                               | 65           | 468    | Subscriber      | 94107
596672  | 69       | 1/8/2015 17:33   | Beale at Market                               | 56             | 1/8/2015 17:34   | Temporary Transbay Terminal (Howard at Beale) | 55           | 329    | Subscriber      | 94602
810794  | 93       | 6/17/2015 11:41  | Market at Sansome                             | 77             | 6/17/2015 11:43  | 2nd at South Park                             | 64           | 469    | Subscriber      | 94544
849893  | 96       | 7/16/2015 17:12  | Yerba Buena Center of the Arts (3rd @ Howard) | 68             | 7/16/2015 17:14  | 2nd at South Park                             | 64           | 563    | Subscriber      | 94127
586772  | 67       | 12/28/2014 17:54 | Market at 10th                                | 67             | 12/28/2014 17:55 | Market at 10th                                | 67           | 424    | Customer        | 45227
... (23 rows omitted)

For a full list of predicate functions, see the [`datascience.predicates` documentation](http://data8.org/datascience/predicates.html).

To sort the rows of a table, use the `.sort()` method. It defaults to ascending, so to get values in `descending` order the `descending` argument must be set to `True`.

In [13]:
trips.sort("Duration", descending=True)

Trip ID | Duration | Start Date       | Start Station                                 | Start Terminal | End Date         | End Station                              | End Terminal | Bike # | Subscriber Type | Zip Code
618539  | 191136   | 1/26/2015 12:06  | Santa Clara County Civic Center               | 80             | 1/28/2015 17:12  | San Pedro Square                         | 6            | 241    | Subscriber      | 95110
586616  | 183913   | 12/28/2014 13:28 | Harry Bridges Plaza (Ferry Building)          | 50             | 12/30/2014 16:33 | Post at Kearny                           | 47           | 602    | Customer        | 16801
492788  | 154979   | 10/10/2014 14:40 | Yerba Buena Center of the Arts (3rd @ Howard) | 68             | 10/12/2014 9:43  | 5th at Howard                            | 57           | 503    | Customer        | 94411
797050  | 84520    | 6/7/2015 9:34    | Market at 10th                                | 67             | 6/8/2015 9:03    | Townsend at 7th                          | 65           | 621    | Subscriber      | 94103
568511  | 77299    | 12/7/2014 2:03   | San Francisco City Hall                       | 58             | 12/7/2014 23:32  | Powell at Post (Union Square)            | 71           | 357    | Customer        | 91108
779359  | 75993    | 5/23/2015 17:28  | Howard at 2nd                                 | 63             | 5/24/2015 14:34  | Powell Street BART                       | 39           | 528    | Subscriber      | 94108
833214  | 71238    | 7/4/2015 14:33   | Cowper at University                          | 37             | 7/5/2015 10:20   | Cowper at University                     | 37           | 89     | Customer        | 92116
859786  | 64419    | 7/23/2015 18:32  | Mountain View City Hall                       | 27             | 7/24/2015 12:26  | Mountain View City Hall                  | 27           | 10     | Customer        | 94041
806341  | 62751    | 6/14/2015 15:28  | Mechanics Plaza (Market at Battery)           | 75             | 6/15/2015 8:54   | San Francisco Caltrain (Townsend at 4th) | 70           | 472    | Customer        | 94124
895153  | 56738    | 8/18/2015 16:47  | Mechanics Plaza (Market at Battery)           | 75             | 8/19/2015 8:33   | Mechanics Plaza (Market at Battery)      | 75           | 575    | Customer        | 76148
... (9990 rows omitted)

### Missing Values

The `datascience` library does not currently have the functionality to support working with missing values, although it is possible to transfer your data to `pandas` and use that library's tools.

However, it is possible to combine row filtering with NumPy functions (or `pandas` ones) to do some simple filtering. As an example, if we wanted to filter out rows with missing values in a specific column, we could define our own predicate function as below and then use the `.where()` method to filter rows.

In [14]:
not_nan = lambda x: not pd.isna(x)

trips.where('End Terminal', not_nan)

Trip ID | Duration | Start Date       | Start Station                     | Start Terminal | End Date         | End Station                              | End Terminal | Bike # | Subscriber Type | Zip Code
608033  | 280      | 1/16/2015 20:22  | Embarcadero at Bryant             | 54             | 1/16/2015 20:27  | Steuart at Market                        | 74           | 362    | Subscriber      | 94705
661342  | 598      | 2/27/2015 15:58  | South Van Ness at Market          | 66             | 2/27/2015 16:08  | San Francisco Caltrain (Townsend at 4th) | 70           | 416    | Subscriber      | 95119
571988  | 639      | 12/9/2014 17:12  | Market at Sansome                 | 77             | 12/9/2014 17:23  | San Francisco Caltrain (Townsend at 4th) | 70           | 484    | Subscriber      | 94010
875617  | 725      | 8/4/2015 17:34   | South Van Ness at Market          | 66             | 8/4/2015 17:46   | Beale at Market                          | 56           | 569    | Subscriber      | 9611
587393  | 759      | 12/29/2014 16:10 | Townsend at 7th                   | 65             | 12/29/2014 16:23 | Embarcadero at Bryant                    | 54           | 629    | Subscriber      | 94105
721469  | 1774     | 4/11/2015 14:07  | Arena Green / SAP Center          | 14             | 4/11/2015 14:37  | Santa Clara County Civic Center          | 80           | 95     | Customer        | 95112
467223  | 259      | 9/24/2014 8:36   | San Antonio Caltrain Station      | 29             | 9/24/2014 8:40   | San Antonio Shopping Center              | 31           | 183    | Subscriber      | 94133
898461  | 413      | 8/20/2015 13:34  | Market at 4th                     | 76             | 8/20/2015 13:41  | Post at Kearny                           | 47           | 313    | Customer        | 14222
552253  | 442      | 11/20/2014 10:50 | 2nd at Folsom                     | 62             | 11/20/2014 10:57 | San Francisco Caltrain 2 (330 Townsend)  | 69           | 353    | Subscriber      | 94107
667949  | 568      | 3/4/2015 17:31   | San Jose Diridon Caltrain Station | 2              | 3/4/2015 17:40   | Paseo de San Antonio                     | 7            | 691    | Subscriber      | 95112
... (9990 rows omitted)

If we wanted to filter rows with missing values in _any_ column, we could iterate through the labels in `Table.labels`, using the `.where()` method to filter on each pass:

In [15]:
for label in trips.labels:
    trips = trips.where(label, not_nan)

### Descriptive Statistics

In order to understand the distribution of your numerical data, it can be very useful to look at descriptive statistics of the values. The `datascience` library allows you to compute statistics on each column of your table, but it requires you to specify which operations you want to run and it does not filter out non-numerical columns.

To use the `datascience` library to get descriptive statistics, use the `.stats()` method; this requires you to specify which statistics you want to use to aggregate each column, which you do by passing a list of functions as the `ops` argument.

In [16]:
# datascience
first_quartile = lambda x: np.quantile(x, 0.25)
third_quartile = lambda x: np.quantile(x, 0.75)
trips.stats(ops = [min, max, np.mean, np.std, first_quartile, third_quartile])

statistic | Trip ID | Duration | Start Date    | Start Station                                 | Start Terminal | End Date       | End Station                                   | End Terminal | Bike #  | Subscriber Type | Zip Code
min       | 432994  | 60       | 1/1/2015 0:56 | 2nd at Folsom                                 | 2              | 1/1/2015 10:07 | 2nd at Folsom                                 | 2            | 9       | Customer        | 0
max       | 913304  | 191136   | 9/9/2014 9:46 | Yerba Buena Center of the Arts (3rd @ Howard) | 84             | 9/9/2014 9:57  | Yerba Buena Center of the Arts (3rd @ Howard) | 84           | 878     | Subscriber      | nil
mean      | 677670  | 940.426  |               |                                               | 58.6538        |                |                                               | 58.6982      | 418.759 |                 |
std       | 138969  | 4142.48  |               |                                               | 16.7676        |                |                                               | 16.9262      | 160.5   |                 |
<lambda>  | 557170  | 341      |               |                                               | 50             |                |                                               | 50           | 322     |                 |
<lambda>  | 797538  | 732      |               |                                               | 70             |                |                                               | 70           | 540     |                 |

The default behavior of the `.stats()` method is to show the minimum, maximum, median, and sum.

In [17]:
trips.stats()

statistic | Trip ID    | Duration    | Start Date    | Start Station                                 | Start Terminal | End Date       | End Station                                   | End Terminal | Bike #      | Subscriber Type | Zip Code
min       | 432994     | 60          | 1/1/2015 0:56 | 2nd at Folsom                                 | 2              | 1/1/2015 10:07 | 2nd at Folsom                                 | 2            | 9           | Customer        | 0
max       | 913304     | 191136      | 9/9/2014 9:46 | Yerba Buena Center of the Arts (3rd @ Howard) | 84             | 9/9/2014 9:57  | Yerba Buena Center of the Arts (3rd @ Howard) | 84           | 878         | Subscriber      | nil
median    | 680436     | 509         |               |                                               | 62             |                |                                               | 63           | 431         |                 |
sum       | 6.7767e+09 | 9.40426e+06 |               |                                               | 586538         |                |                                               | 586982       | 4.18759e+06 |                 |

### Grouping

In the `datascience` library, you can group by a column with the `.group()` method; this defaults to counts, but you can pass an optional second argument with an aggregator function.

In [18]:
trips.group('Start Station')

Start Station                    | count
2nd at Folsom                    | 223
2nd at South Park                | 274
2nd at Townsend                  | 425
5th at Howard                    | 229
Adobe on Almaden                 | 12
Arena Green / SAP Center         | 19
Beale at Market                  | 207
Broadway St at Battery St        | 262
California Ave Caltrain Station  | 8
Castro Street and El Camino Real | 32
... (59 rows omitted)

When you pass an aggregator function, each column is aggregated by that function in the specified groups. This means that the new table will have the same number of columns as the original, unlike the call _without_ an aggregator function. As an example of an aggregator function, we could pass `np.median()`.

In [19]:
trips.group("Start Station", np.median)

Start Station                    | Trip ID median | Duration median | Start Date median | Start Terminal median | End Date median | End Station median | End Terminal median | Bike # median | Subscriber Type median | Zip Code median
2nd at Folsom                    | 679189         | 350             |                   | 62                    |                 |                    | 64                  | 432           |                        |
2nd at South Park                | 646924         | 461.5           |                   | 64                    |                 |                    | 69                  | 472           |                        |
2nd at Townsend                  | 684031         | 494             |                   | 61                    |                 |                    | 62                  | 459           |                        |
5th at Howard                    | 682656         | 432             |                   | 57                    |                 |                    | 69                  | 427           |                        |
Adobe on Almaden                 | 733113         | 318.5           |                   | 5                     |                 |                    | 2                   | 190           |                        |
Arena Green / SAP Center         | 652739         | 241             |                   | 14                    |                 |                    | 4                   | 155           |                        |
Beale at Market                  | 657981         | 398             |                   | 56                    |                 |                    | 64                  | 462           |                        |
Broadway St at Battery St        | 668128         | 461.5           |                   | 82                    |                 |                    | 69                  | 464.5         |                        |
California Ave Caltrain Station  | 835619         | 1228            |                   | 36                    |                 |                    | 35                  | 190           |                        |
Castro Street and El Camino Real | 726996         | 324             |                   | 32                    |                 |                    | 28                  | 177           |                        |
... (59 rows omitted)

To create a pivot table, use the `.pivot()` method. The first argument indicates the column labels, the second the rows, and the third the values that go into each entry. If there are more than one value to go into the cells, it is also possible to pass an aggregator function. The cell below shows a table where each column is a starting station, each row is an ending station, and each value is the mean of the durations for that starting and ending station pair.

In [20]:
trips.pivot("Start Station", "End Station", "Duration", np.mean)

End Station                      | 2nd at Folsom | 2nd at South Park | 2nd at Townsend | 5th at Howard | Adobe on Almaden | Arena Green / SAP Center | Beale at Market | Broadway St at Battery St | California Ave Caltrain Station | Castro Street and El Camino Real | Civic Center BART (7th at Market) | Clay at Battery | Commercial at Montgomery | Cowper at University | Davis at Jackson | Embarcadero at Bryant | Embarcadero at Folsom | Embarcadero at Sansome | Embarcadero at Vallejo | Evelyn Park and Ride | Golden Gate at Polk | Grant Avenue at Columbus Avenue | Harry Bridges Plaza (Ferry Building) | Howard at 2nd | Japantown | MLK Library | Market at 10th | Market at 4th | Market at Sansome | Mechanics Plaza (Market at Battery) | Mezes Park | Mountain View Caltrain Station | Mountain View City Hall | Palo Alto Caltrain Station | Park at Olive | Paseo de San Antonio | Post at Kearny | Powell Street BART | Powell at Post (Union Square) | Redwood City Caltrain Station | Redwood City Medical Center | Redwood City Public Library | Rengstorff Avenue / California Street | Ryland Park | SJSU - San Salvador at 9th | SJSU 4th at San Carlos | San Antonio Caltrain Station | San Antonio Shopping Center | San Francisco Caltrain (Townsend at 4th) | San Francisco Caltrain 2 (330 Townsend) | San Francisco City Hall | San Jose City Hall | San Jose Civic Center | San Jose Diridon Caltrain Station | San Mateo County Center | San Pedro Square | San Salvador at 1st | Santa Clara County Civic Center | Santa Clara at Almaden | South Van Ness at Market | Spear at Folsom | St James Park | Stanford in Redwood City | Steuart at Market | Temporary Transbay Terminal (Howard at Beale) | Townsend at 7th | University and Emerson | Washington at Kearny | Yerba Buena Center of the Arts (3rd @ Howard)
2nd at Folsom                    | 3329.5        | 209.25            | 319.944         | 441           | 0                | 0                        | 283             | 0                         | 0                               | 0                                | 741                               | 562             | 474                      | 0                    | 9848             | 356.5                 | 342                   | 0                      | 731                    | 0                    | 0                   | 685                             | 480.273                              | 127.5         | 0         | 0           | 837.75         | 346.667       | 265.667           | 320                                 | 0          | 0                              | 0                       | 0                          | 0             | 0                    | 246.5          | 1209               | 382                           | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 0                      | 0                            | 0                           | 464.68                                   | 496                                     | 0                       | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 0                        | 491.5           | 0             | 0                        | 533               | 329.4                                         | 644             | 0                      | 0                    | 0
2nd at South Park                | 156.333       | 1397.43           | 150             | 522.111       | 0                | 0                        | 467.25          | 631.25                    | 0                               | 0                                | 847.333                           | 487             | 780.833                  | 0                    | 679              | 0                     | 613.4                 | 1119                   | 1006.5                 | 0                    | 543.5               | 860.5                           | 496.111                              | 220.529       | 0         | 0           | 990            | 569.375       | 320.6             | 303                                 | 0          | 0                              | 0                       | 0                          | 0             | 0                    | 378.25         | 530.5              | 324.5                         | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 0                      | 0                            | 0                           | 266.455                                  | 492.615                                 | 801                     | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 844.333                  | 362             | 0             | 0                        | 433.625           | 379.867                                       | 546.667         | 0                      | 764                  | 337.8
2nd at Townsend                  | 280.25        | 272               | 1602.67         | 0             | 0                | 0                        | 441             | 726.182                   | 0                               | 0                                | 0                                 | 812             | 887                      | 0                    | 675.818          | 353.75                | 373.438               | 897.692                | 906.5                  | 0                    | 1203                | 958.429                         | 612.3                                | 329.3         | 0         | 0           | 916            | 822.167       | 478.348           | 737.4                               | 0          | 0                              | 0                       | 0                          | 0             | 0                    | 604.8          | 888.5              | 945.333                       | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 0                      | 0                            | 0                           | 230.75                                   | 242                                     | 1007                    | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 1498.75                  | 427.364         | 0             | 0                        | 554.879           | 377.7                                         | 482.889         | 0                      | 811                  | 897
5th at Howard                    | 511.8         | 1229              | 648.111         | 4216.2        | 0                | 0                        | 419             | 888.167                   | 0                               | 0                                | 555.5                             | 606             | 4048.5                   | 0                    | 0                | 0                     | 497.5                 | 1141.67                | 861.25                 | 0                    | 590.333             | 853.2                           | 649.667                              | 241.133       | 0         | 0           | 413.333        | 5404.88       | 2245.6            | 570                                 | 0          | 0                              | 0                       | 0                          | 0             | 0                    | 395.333        | 2291.5             | 311.125                       | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 0                      | 0                            | 0                           | 492.917                                  | 388.907                                 | 691.6                   | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 499.333                  | 529.2           | 0             | 0                        | 661               | 462.727                                       | 491             | 0                      | 0                    | 14252.1
Adobe on Almaden                 | 0             | 0                 | 0               | 0             | 0                | 0                        | 0               | 0                         | 0                               | 0                                | 0                                 | 0               | 0                        | 0                    | 0                | 0                     | 0                     | 0                      | 0                      | 0                    | 0                   | 0                               | 0                                    | 0             | 0         | 0           | 0              | 0             | 0                 | 0                                   | 0          | 0                              | 0                       | 0                          | 0             | 314.5                | 0              | 0                  | 0                             | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 545                    | 0                            | 0                           | 0                                        | 0                                       | 0                       | 683.667            | 0                     | 268.182                           | 0                       | 0                | 0                   | 0                               | 0                      | 0                        | 0               | 0             | 0                        | 0                 | 0                                             | 0               | 0                      | 0                    | 0
Arena Green / SAP Center         | 0             | 0                 | 0               | 0             | 318.5            | 1883.75                  | 0               | 0                         | 0                               | 0                                | 0                                 | 0               | 0                        | 0                    | 0                | 0                     | 0                     | 0                      | 0                      | 0                    | 0                   | 0                               | 0                                    | 0             | 994.5     | 0           | 0              | 0             | 0                 | 0                                   | 0          | 0                              | 0                       | 0                          | 0             | 7464                 | 0              | 0                  | 0                             | 0                             | 0                           | 0                           | 0                                     | 749         | 0                          | 0                      | 0                            | 0                           | 0                                        | 0                                       | 0                       | 0                  | 0                     | 0                                 | 0                       | 166              | 0                   | 1171.25                         | 207.667                | 0                        | 0               | 0             | 0                        | 0                 | 0                                             | 0               | 0                      | 0                    | 0
Beale at Market                  | 338           | 0                 | 671.75          | 612           | 0                | 0                        | 14758.5         | 294.857                   | 0                               | 0                                | 601                               | 195             | 278.5                    | 0                    | 214.7            | 362.6                 | 247                   | 490.222                | 259                    | 0                    | 1159                | 418.857                         | 452                                  | 622           | 0         | 0           | 682.778        | 373.889       | 1907.5            | 4580                                | 0          | 0                              | 0                       | 0                          | 0             | 0                    | 259            | 419.667            | 358.571                       | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 0                      | 0                            | 0                           | 730.333                                  | 696.111                                 | 760                     | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 884.143                  | 391             | 0             | 0                        | 0                 | 188.571                                       | 0               | 0                      | 540                  | 600.75
Broadway St at Battery St        | 726           | 702               | 673.353         | 830.333       | 0                | 0                        | 327.125         | 891.286                   | 0                               | 0                                | 828                               | 190             | 219.429                  | 0                    | 450.833          | 1039                  | 587.6                 | 418.778                | 322                    | 0                    | 0                   | 190                             | 456.625                              | 498           | 0         | 0           | 1167           | 559.333       | 663               | 328.5                               | 0          | 0                              | 0                       | 0                          | 0             | 0                    | 583.667        | 776.4              | 554.167                       | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 0                      | 0                            | 0                           | 906.2                                    | 890.625                                 | 15413                   | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 951.5                    | 422             | 0             | 0                        | 361.75            | 447.125                                       | 1421.5          | 0                      | 252.5                | 1534
California Ave Caltrain Station  | 0             | 0                 | 0               | 0             | 0                | 0                        | 0               | 0                         | 0                               | 0                                | 0                                 | 0               | 0                        | 914.5                | 0                | 0                     | 0                     | 0                      | 0                      | 0                    | 0                   | 0                               | 0                                    | 0             | 0         | 0           | 0              | 0             | 0                 | 0                                   | 0          | 0                              | 0                       | 1508.75                    | 2429.67       | 0                    | 0              | 0                  | 0                             | 0                             | 0                           | 0                           | 0                                     | 0           | 0                          | 0                      | 0                            | 0                           | 0                                        | 0                                       | 0                       | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 0                        | 0               | 0             | 0                        | 0                 | 0                                             | 0               | 802                    | 0                    | 0
Castro Street and El Camino Real | 0             | 0                 | 0               | 0             | 0                | 0                        | 0               | 0                         | 0                               | 2220                             | 0                                 | 0               | 0                        | 0                    | 0                | 0                     | 0                     | 0                      | 0                      | 1279                 | 0                   | 0                               | 0                                    | 0             | 0         | 0           | 0              | 0             | 0                 | 0                                   | 0          | 352.862                        | 348                     | 0                          | 0             | 0                    | 0              | 0                  | 0                             | 0                             | 0                           | 0                           | 763                                   | 0           | 0                          | 0                      | 953                          | 1730                        | 0                                        | 0                                       | 0                       | 0                  | 0                     | 0                                 | 0                       | 0                | 0                   | 0                               | 0                      | 0                        | 0               | 0             | 0                        | 0                 | 0                                             | 0               | 0                      | 0                    | 0
... (60 rows omitted)

### Joining Tables

The `datascience` library allows you to join tables using its `.join()` method. This method performs an _inner_ join, which means that the rows are only those whose values in the join column(s) appear in _both_ tables. 

The call below joins the `trips` table with the second through fourth columns of the `stations` table, left on `"Start Station"` and right on `"name"`. This means that the result table will have two new columns, `"lat"` and `"long"`, indicating the latitude and longitude of the starting station.

In [21]:
trips.join("Start Station", stations.select(1, 2, 3), "name")

Start Station | Trip ID | Duration | Start Date       | Start Terminal | End Date         | End Station                                   | End Terminal | Bike # | Subscriber Type | Zip Code | lat     | long
2nd at Folsom | 552253  | 442      | 11/20/2014 10:50 | 62             | 11/20/2014 10:57 | San Francisco Caltrain 2 (330 Townsend)       | 69           | 353    | Subscriber      | 94107    | 37.7853 | -122.396
2nd at Folsom | 665105  | 316      | 3/3/2015 8:46    | 62             | 3/3/2015 8:51    | Embarcadero at Folsom                         | 51           | 480    | Subscriber      | 94158    | 37.7853 | -122.396
2nd at Folsom | 792824  | 374      | 6/3/2015 17:56   | 62             | 6/3/2015 18:02   | Harry Bridges Plaza (Ferry Building)          | 50           | 877    | Subscriber      | 94973    | 37.7853 | -122.396
2nd at Folsom | 720477  | 203      | 4/10/2015 15:55  | 62             | 4/10/2015 15:59  | Temporary Transbay Terminal (Howard at Beale) | 55           | 585    | Subscriber      | 94602    | 37.7853 | -122.396
2nd at Folsom | 860427  | 743      | 7/24/2015 9:13   | 62             | 7/24/2015 9:25   | Townsend at 7th                               | 65           | 563    | Subscriber      | 94105    | 37.7853 | -122.396
2nd at Folsom | 906231  | 362      | 8/26/2015 12:06  | 62             | 8/26/2015 12:12  | Commercial at Montgomery                      | 45           | 620    | Subscriber      | 94107    | 37.7853 | -122.396
2nd at Folsom | 828638  | 430      | 6/30/2015 16:39  | 62             | 6/30/2015 16:46  | San Francisco Caltrain 2 (330 Townsend)       | 69           | 494    | Subscriber      | 94403    | 37.7853 | -122.396
2nd at Folsom | 714084  | 452      | 4/6/2015 17:44   | 62             | 4/6/2015 17:52   | San Francisco Caltrain 2 (330 Townsend)       | 69           | 267    | Subscriber      | 94107    | 37.7853 | -122.396
2nd at Folsom | 708052  | 356      | 4/1/2015 17:15   | 62             | 4/1/2015 17:21   | San Francisco Caltrain (Townsend at 4th)      | 70           | 398    | Subscriber      | 94403    | 37.7853 | -122.396
2nd at Folsom | 757381  | 615      | 5/7/2015 12:11   | 62             | 5/7/2015 12:21   | Townsend at 7th                               | 65           | 432    | Subscriber      | 94558    | 37.7853 | -122.396
... (9774 rows omitted)

To perform other types of joins, the tables would need to be passed to `pandas`.

### Manipulating Values

The most common way to manipulate a data set is to apply a predefined function on each element of a column. To accomplish this in `datascience`, we utilize the `.apply()` method, which takes as its arguments first a function to apply and then the column index or label.

In [22]:
square = lambda x: x**2

sqaured_durations = trips.apply(square, "Duration")
trips = trips.with_column("Duration^2", sqaured_durations)
trips.show(5)

### Autograding with OkPy

UC Berkeley's Python courses use an autograder called [okpy](https://okpy.org). The package has an easy Jupyter Notebook integration, which is why it is the autograder infrastructure for so many Berkeley courses. Using this autograder requires writing tests, similar to doctests, that will be run in the local environment when you tell the autograder to check the notebook. These can be divided up into multiple sections, and are recorded in Python files.

#### Writing OkPy Tests

Okpy tests are written in "ok format"; this means that they are stored in your Python file as the variable `test`, which is a dictionary of information about the specific test. Each Python file is its own test. In the table below, the keys of the dictionary that are needed are described.

| Key | Type | Description |
|-----|-----|-----|
| `"name"` | `str` | the name of the question |
| `"points"` | `int`, `float` | the point value of the question |
| `"suites"` | `list` | list of dictionaries with the code for the test, with some other attributes |

The `"suites"` key should have a value that is a list of dictionaries, each of which has the following attributes:

| Key | Type | Description |
|-----|-----|-----|
| `"cases"` | `list` | list of dictionaries with the code for each test |
| `"scored"` | `bool` | whether or not the test is scored |
| `"setup"` | `str` | setup code to run before the cases |
| `"teardown"` | `str` | code to run after the cases |
| `"type"` | `str` | type of test, usually set to `"doctest"` |

Each test is divided into suites, which are in turn divided into cases. This is useful in CS courses, but a featured which is often not used in Data 8. For most of the tests you write, it is likely that `test["suites"]` and `test["suites"][0]["cases"]` will have length 1.

As an example of an ok test file, consider the one below.

```python
test = {
    "name": "Question 1",
    "points": 1,
    "suites": [
        {
            "cases": [
                {
                    "code": r"""
                    >>> the_answer
                    42
                    >>> np.isclose(42, the_answer)
                    True
                    """,
                    "hidden": False,
                    "locked": False
                }
            ],
            "scored": True,
            "setup": "",
            "teardown": "",
            "type": doctest
        }
    ]
}
```

As you can see, we check in this test that `the_answer` is an integer with value 42. If we hadn't had numpy imported in the notebook environment, then we would've needed to change the `"setup"` value to include that:

```python
"setup": r"""
>>> import numpy as np
"""
```

Also note that the strings with code in them are all `r` strings. This is important for the interpreter.

**Some things to keep in mind when writing tests:**
* Rows and elements often get shuffled around due to student explorations. For this reason, it is often good to avoid indexing by numbers unless you are _100% certain_ that this won't happen.
* Rounding errors occur, so use functions like `np.isclose` instead of tests for direct equality.
* Write exhaustive tests but don't try to verify that each cell matches. In most cases, either every answer will be off or none of them well; figure out how to exploit this in your tests and writing them will be a lot easier.

#### Usage in Notebooks

To initialize the autograder, you first need to import from the client package the `Notebook` object. The `client` package is set up when you install okpy on your JupyterHub. To initialize the autograder, create an instance of the `Notebook` class; by convention, we save this instance as `ok`. The `Notebook` initializer requires 1 argument, the relative path to your [ok configuration file](https://okpy.github.io/documentation/client.html).

In [23]:
from client.api.notebook import Notebook
ok = Notebook("demo.ok")

=====================================================================
Assignment: datascience Demo
OK, version v1.15.0
=====================================================================

If you are using the okpy website to collect submissions, then you would also have put the following line in the cell above:

```python
_ = ok.auth(inline=True)
```

This would direct your students to the okpy site to log in and give them an authentication key for the notebook.

To run autograder tests, we use the `ok.grade()` function; it takes a single argument, the identifier of the tests you're trying to run. As an example, assign `the_answer` below to the value `42`.

In [24]:
the_answer = ...

In [25]:
_ = ok.grade("q1")

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
 > Suite 1 > Case 1

>>> the_answer
Ellipsis

# Error: expected
#     42
# but got
#     Ellipsis

Run only this test case with "python3 ok -q q1 --suite 1 --case 1"
---------------------------------------------------------------------
Test summary
    Passed: 0
    Failed: 1
[k..........] 0.0% passed

Because I have stored the test cases in `tests/q1.py`, the autograder will go there and run the tests to make sure that you pass. (The location of the tests is set up in the ok config file.)

To make life easier for the students, we often include the cell below which will allow them to run all of the ok tests at once to verify that all of their code is working.

```python
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]
```

To submit work to the okpy site, have students run the following:

```python
_ = ok.submit()
```

#### An Example

If we wanted to use okpy in this notebook, we could test that the squared durations were stored correctly. This test is stored as `tests/q2.py`, so we could check this using the code below.

In [26]:
_ = ok.grade("q2")

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

### Exporting Data

If you make some modifications to the data set or do some data cleaning, you may want to export your data from Python to make it easier to pick up later or to reproduce. For this reason, there is a `datascience` function that allow you to export a Table object to a text file, which you can then load back into Python later. To export as a CSV file, you pass the file name (or file location, if it's going to another folder) to the `.to_csv()` method.

In [27]:
trips.to_csv('export/trips-export.csv')

If you want to save as another file format (e.g. TSV, JSON), you will have to export through `pandas` by setting the `sep` argument of the `.to_csv()` method or using a different export function (e.g. `pd.to_json()`). This is easily accomplished if you have a Table by transferring that table to `pandas` first.

In [ ]:
# transfer to pandas, from above
trips_df = trips.to_df()

# export as tsv
trips_df.to_csv('data/trips.tsv', index=False, sep='\t')

### Conclusion

This notebook should have given you a good introduction to the `Table` class of `datascience`. This demo is not an exhaustive one, and there are _many_ other functionalities of the class that were not covered. To see these and the other functions in the library (including plotting and mapping functionality), see the [`datascience` documentation](http://data8.org/datascience).